@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  /* ############################################### */
/* media queries */
/* Nano Small Screen (ns) */
@media (max-width: 320px) {
  /* Your CSS rules for small screens here */
  .frame-container {
    width: 90%;
  }
}

/* Small small Screen (ss) */
@media (min-width:320px) and (max-width: 750px) {
  /* Your CSS rules for small screens here */
  .frame-container {
    width: calc(100% - 20px);/*100% - 32px - default {16, 24, 32}*/
  }
}

/* Small Screen (md) */
@media (min-width: 751px) and (max-width: 1000px) {
  /* Your CSS rules for small screens here */
  .frame-container {
    width: 94%;
  }
}

/* Large Screen (lg) */
@media (min-width: 1001px) and (max-width: 1280px) {
  /* Your CSS rules for large screens here */
  .frame-container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 74px;
    padding-right: 74px;
  }
}

/* Large Screen (xl) */
@media (min-width: 1281px) and (max-width: 1480px)  {
  /* Your CSS rules for large screens here */
  .frame-container {
    width: 90%;
  }
}

/* Large Screen (2xl) */
@media (min-width: 1481px){
  /* Your CSS rules for large screens here */
  .frame-container {
    width: 1280px;
  }
}

.outline-text{
  color: transparent; /* Make the text transparent */
  -webkit-text-fill-color: transparent; /* Make the text fill transparent for WebKit browsers */
  -webkit-text-stroke-width: 2px; /* Width of the stroke */
  -webkit-text-stroke-color: #FFF1CE; /* Color of the stroke */
  
  /* Standard syntax */
  text-fill-color: transparent; /* Make the text fill transparent */
  text-stroke-width: 2px; /* Width of the stroke */
  text-stroke-color: #FFF1CE; /* Color of the stroke */
}

.about-img{
  height: calc(100vh - 10px);
  width: auto;
}

.values-maze{
  height: calc(100vh - 5vh);
  width: auto;
}